* {
  box-sizing: border-box;
}

.body {
	font-size: 16px;
}

/***************************
@Font-Face
***************************/

@font-face {
    font-family: 'cantarellbold';
    src: url('Cantarell-Bold-webfont.eot');
    src: url('Cantarell-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cantarell-Bold-webfont.woff') format('woff'),
         url('Cantarell-Bold-webfont.ttf') format('truetype'),
         url('Cantarell-Bold-webfont.svg#cantarellbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cantarellregular';
    src: url('Cantarell-Regular-webfont.eot');
    src: url('Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Cantarell-Regular-webfont.woff') format('woff'),
         url('Cantarell-Regular-webfont.ttf') format('truetype'),
         url('Cantarell-Regular-webfont.svg#cantarellregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*****************************
style
******************************/

a { 
	text-decoration:none;
	color: #3489CE;
}

ul {
	list-style-type: none;
}

.img-hero {
	width: 100%;
	height: auto;
	margin-top: 1.2rem;
}

.body-text {
	font-family: 'cantarellregular';
	font-size: 1.0625rem;
	color: #224070;
	text-align: center;
	/*margin: 10% 7% 0% 7%;*/ 
	/*padding-bottom: 12%;*/
}

.wordmark-blue {
	text-align: center;
	font-family: 'cantarellbold';
	font-size: 1.9rem;
	text-shadow: 1px 1px 1px #aaaaaa;
	letter-spacing: 0.125rem;
	color: #224070;
	margin:0;
	padding:0;
}

/***************************
HEADER -new code-
****************************/

header {
	display: flex;
	flex-direction: column;
}

.logo {
	display: flex;
	flex-direction: column;
}

#logo-center {
	align-self: center;
}

.logo-style {
	margin-top: 1rem;
	margin-bottom: 1rem;
	height: 3.5rem;
	width: auto;
}

.line {
	border-top: solid;
	border-width: 0.25px;
	margin-left: 15px;
	margin-right: 15px;
}

.nav-items {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin: 0;
	padding: 0;
}

.menu-list-style {
	margin-top: 1.5rem;
	margin-bottom: 0.02rem;
	align-self: center;

}

.menu-list-style a {
	font-family: 'cantarellbold';
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: 11px;
	transition-property: color;
	transition-duration: 0.5s;
	transition:timing-function: ease-out;
}

.menu-list-style a:hover {
	color: #224070;
	transition-duration: 0.5;
	transition-timing-function: ease-out;
}

/********** HOME PAGE ************/

/*****************************
HERO CONTENT -new code-
*****************************/

.wordmark-style {
	font-family: 'cantarellbold';
	font-size: 2rem;
	text-shadow: 2px 2px 3px #091830;
	letter-spacing: 2px;
	color: #fff;
	padding-top: 15%;
	padding-bottom: 12%;
	text-align: center;
	background: url("../img/hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0px 2px 5px -1px rgba(9,24,48,0.5);
	margin-bottom: 1rem;
}

.intro-text {
	font-family: 'cantarellregular';
	font-size: 1.0625rem;
	color: #224070;
	text-align: center;
	margin: 10% 7% 0% 7%; 
	padding-bottom: 12%;
}

/*****************************
SECTION CONTENT -new code-
*****************************/

section {
	height: 100%;
}

.section-container{
	width: 100%;
	/*display: flex;
	flex-direction: column;
	align-items: center;*/
}

.img-service {
	display: flex;
	flex-direction: column;
	flex:1;
	width:100%;
	height: auto;
	margin:0;
	padding:0;
}

.service-text-bkground {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 100%;
	height: auto;
	margin:0;
	padding:0;
	background-color: #224070;
}

.service-text-style{
	padding-top: 1.2rem;
}

.sub-title {
	text-align: center;
	text-decoration: none;
	color: #3489CE;
	font-family: 'cantarellbold';
	font-size: 0.98rem;
	letter-spacing: 0.12rem;
}

.sub-title a {
	transition-property: color;
	transition-duration: 0.5s;
	transition:timing-function: ease-out;
}

.sub-title a:hover {
	color: #fff;
	transition-duration: 0.5;
	transition-timing-function: ease-out;
}


.service-text {
	font-family: 'cantarellregular';
	font-size: 15px;
	color: #fff;
	text-align: center;
	padding-bottom: 10%;
	line-height: 1.5rem;

}

.closing-text {
	font-family: 'cantarellregular';
	font-size: 1.0625rem;
	line-height: 1.6rem;
	color: #224070;
	text-align: center;
	margin-top: 2rem;
}

.closing-text-button {
	text-align: center;
}

.closing-text-button a {
	font-family: 'cantarellbold';
	font-size: 0.98rem;
	letter-spacing: 0.11rem;
	text-transform: uppercase;
	transition-property: color;
	transition-duration: 0.5s;
	transition:timing-function: ease-out;
}

.closing-text-button a:hover {
	color: #224070;
	transition-duration: 0.5;
	transition-timing-function: ease-out;
}


/*******************************
Footer Styling
********************************/

.footer {
	display:flex;
	flex-direction: column;
	align-items: center;
	background-color: #DCDCDC;
	margin-top: 2rem;
	color: #224070;
	font-size: 0.9rem;
}


.contact-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-text {
	font-family: 'cantarellregular';
	line-height: 1.5rem;
	padding:0;
}

.footer-text a {
	transition-property: color;
	transition-duration: 0.5s;
	transition:timing-function: ease-out;
}

.footer-text a:hover {
	color: #224070;
	transition-duration: 0.5;
	transition-timing-function: ease-out;
}

.wordmark-footer {
	font-family: 'cantarellbold';
	font-size: 1.7rem;
	text-shadow: 2px 2px 3px #aaaaaa;
	letter-spacing: 2px;
	color: #fff;
	margin:0;
	padding-top: 2rem;
}

.icon-footer {
	color: #224070;
	display: flex;
	flex-direction: row;
	padding:0;
	margin:0;
}

.icon-footer li i {
	padding: 2rem;
}

/********** ABOUT PAGE ************/

/************************************
SECTION-ABOUT PAGE-
************************************/

.text-left-align {
	font-family: 'cantarellregular';
	font-size: 1.0625rem;
	color: #224070;
	text-align: left;
	padding-top: 1.2rem;
	padding-right: 2rem;
	padding-left: 2rem;
	padding-bottom: 0.75rem;
}

.flex-column {
}

.team-profile img {
	margin: auto;
	width: 60%;
	margin-left: 5rem;
	margin-right:5rem;
}

.team-profile .team-name {
	font-family: 'cantarellbold';
	font-size: 1.5rem;
	margin-bottom: -0.2rem;
	color: #224070;
	text-align: center;
}

.team-profile .team-role {
	font-family: 'cantarellregular';
	font-size: 0.85rem;
	letter-spacing: 0.1rem;
	color: #224070;
	text-align: center;
}

/********** PROJECT PAGE ************/

/************************************
SECTION - PROJECT PAGE-
************************************/

.title-left-align {
	font-family: 'cantarellbold';
	font-size: 0.98rem;
	letter-spacing: 0.12rem;
	color: #224070;
	text-align: left;
	padding-top: 0.65rem;
	padding-right: 2rem;
	padding-left: 2rem;
}

.project-description {
font-family: 'cantarellregular';
	font-size: 1.0625rem;
	color: #224070;
	text-align: left;
	padding-right: 2rem;
	padding-left: 2rem;
	padding-bottom: 0.65rem;
}

.project-img {
	width: 100%;
	height: auto;
	margin-top: 1.2rem;
}

/*************************************************************
**************************************************************

MIN 600PX -MEDIA QUERY | NEW CODE-

**************************************************************
**************************************************************/

@media only screen and (min-width: 600px) {

/**************************************
HEADER - MIN 600PX - new code
**************************************/

.container {
width: 100%;
}

.main-nav {
background: #fff;
box-shadow: 0px 2px 5px -1px rgba(9,24,48,0.35);
height: 6rem;
z-index: 1000;
}

header {
	display: flex;
	flex-direction: row;
}

.logo {
	display: flex;
	flex-direction: column;
}

.logo-style {
	margin-top: 1.2rem;
	margin-left: 2rem;
	height: 3.5rem;
	width: auto;
}

.line {
	border: none;
}

.nav-items {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-content: space-between;
	margin-top: -1.3rem;
}

.menu-list-style {
	padding: 2rem;
}

.img-hero {
	width: 100%;
	height: auto;
	margin-top: 0;
}

/***********************************
HERO CONTENT - MIN 600px - new code
***********************************/

.wordmark-style {
	font-family: 'cantarellbold';
	font-size: 4rem;
	text-shadow: 2px 2px 3px #091830;
	letter-spacing: 2px;
	color: #fff;
	padding-top: 12%;
	padding-bottom: 12%;
	text-align: center;
	background: url("../img/hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0px 2px 5px -1px rgba(9,24,48,0.5);
	margin-bottom: 1rem;
	margin-top: 0;
}

.intro-text {
	font-size: 1.5rem;
	line-height: 2.3rem;
	margin: 7% 7% 0% 7%; 
	padding-bottom: 8%;
}


/*************************************
SECTION CONTENT - MIN 600px - new code
**************************************/

/*.sub-title {
	margin-top:5%;
	margin-bottom:2%;
	padding:0;
}*/

.service-text-style{
	padding-top: 2rem;
}

.sub-title a {
	font-size: 1.4rem;
	transition-property: color;
	transition-duration: 0.5s;
	transition:timing-function: ease-out;
}

.service-text {
	font-family: 'cantarellregular';
	font-size: 1.125rem;
	color: #fff;
	text-align: center;
	margin-bottom: -10px;
	line-height: 2rem;
}

/********** CONTACT PAGE MIN 600PX ************/

/************************************
SECTION - ABOUT PAGE - 600PX
************************************/

body {
	width: 100%;
}

.text-left-align {
	font-size: 1.0625rem;
	text-align: left;
	padding-right: 5rem;
	padding-left: 5rem;
}

.flex-column {
	width:100%;
	display: flex;
	align-items: flex;
}

.team-profile {
	width: 100%;
	align-self: center;
}

.team-img {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin: auto;
	width: 60%;
}

.team-profile .team-name {
	font-size: 1.1rem;
	margin-bottom: -0.2rem;
	color: #224070;
	text-align: center;
}

.team-profile .team-role {
	font-family: 'cantarellregular';
	font-size: 0.85rem;
	letter-spacing: 0.1rem;
	color: #224070;
	text-align: center;
}


/*************************************************************
**************************************************************

MIN 960PX -MEDIA QUERY | NEW CODE-

**************************************************************
**************************************************************/

@media only screen and (min-width: 960px) {

/***********************************
HERO CONTENT - MIN 960px - new code
***********************************/

.wordmark-style {
	font-size: 7rem;
	padding-top: 13%;
	
}

.intro-text {
	font-size: 2.1rem;
	line-height: 3.3rem;
	
}

/************************************
SECTION - MIN 960PX - new code
************************************/	

section {
	height: 100%;
}


.section-container{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.img-service {
	display: flex;
	flex-direction: column;
	align-self: stretch;
	flex: 0 0 50%;
}

.service-text-bkground {
	display: flex;
	flex-direction: column;
	align-self: stretch;
	flex: 0 0 50%;
	/*background-color: #224070;*/
}

.service-text-style {
	padding-top: 10%;
	margin-bottom:0;
}


.sub-title a {
	font-size: 1.6rem;
}

.service-text {
	font-size: 20px;
	margin-top:0;
	line-height: 2rem;

}

.one {
	order: 2;
}

.two {
	order: 1;
}

/***********************************
FOOTER - MIN 960px - new code
***********************************/

.footer {
	display:flex;
	flex-direction: row;
	background-color: #DCDCDC;
	margin-top: 2rem;

}

.contact-footer {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding-left: 2rem;
	padding-bottom: 1.5rem;
	color: #224070;
	font-size: 0.9rem;
}

.icon-footer {
	color: #224070;
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: -8rem;
}

/********** PROJECT PAGE 960PX ************/

/************************************
SECTION - PROJECT PAGE- MIN 960PX
************************************/

.project {
	display: flex;
	flex: 1 2 auto;
}

.project-img {
	width: 100%;
	height: auto;
	margin-top: 0;
}




/*************************************************************
**************************************************************

MIN 1500PX -MEDIA QUERY | NEW CODE-

**************************************************************
**************************************************************/

@media only screen and (min-width: 1500px) {
	
	.service-text-style {
		padding-top: 10%;
		margin-bottom: 0;
	}

	.intro-text {
		font-size: 2.7rem;
		line-height: 4.2rem;
	}

/************************************
SECTION - MIN 1500PX - new code
************************************/	


.section-container{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.img-service {
	display: flex;
	flex-direction: column;
	align-self: stretch;
	flex: 0 0 50%;
}

.service-text-style {
	padding-top: 13%;
	margin-bottom:0;
}


.sub-title a {
	font-size: 1.9rem;
}

.service-text {
	font-size: 25px;
	margin-top:0;
	line-height: 2.4rem;

}

/********** CONTACT PAGE MIN 1500PX ************/

/************************************
SECTION - ABOUT PAGE - 1500PX
************************************/

body {
	width: 100%;
}

.text-left-align {
	padding-right: 30rem;
	padding-left: 30rem;
}

h2 {
	padding-top: 2rem;
}


